.bestsellers__title {
    font-size: 44px;
    text-align: center;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}

.beer_about {
    color: #d2c9ba;
}

.beer_name{
color: rgb(248, 187, 3);
font-family: 'Frank Ruhl Libre', sans-serif;
font-size: 44px;
}