.bestsellers {
    background: var(--background-color);
}

.beer__title {
    color: var(--text-color);
    font-size: 44px;
    text-align: center;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}

.beer_about {
    color: var(--text-color);
}

.beer_name {
    color: var(--second_text-color);
    font-family: 'Frank Ruhl Libre', sans-serif;
    font-size: 44px;
}

.stout_container {
    background-image: url(../img/background__barrels.webp);
    display: grid;
    grid-template-columns: 2fr 1fr;
 
    background-size: cover;
    background-position: 50% 50%;
    min-height: 400px;
}

.indian-ale_container {
    background-image: url(../img/background__barrels.webp);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 400px;
}

.american-ale_container {
    background-image: url(../img/background__barrels.webp);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 400px;
}