@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Frank+Ruhl+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Rubik', 'Frank Ruhl Libre', sans-serif;
    scroll-behavior: smooth;
    --second_text-color: rgb(248, 187, 3);
    --text-color: #fff;
    --background-color: #2c221d;
    
    --background-color-light: rgb(244, 238, 225);
    --color-xxx: rgb(150, 90, 28);
    --colot-title: #261d17;
    --color-subtitle: #614e44;
    --color-subtitle-light: #aa7c5a;
}