@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Frank+Ruhl+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Rubik', 'Frank Ruhl Libre', sans-serif;
    scroll-behavior: smooth;
    --second_text-color: rgb(248, 187, 3);
    --text-color: #fff;
    --background-color: #2c221d;
    
}