.discover {
    background-color: var(--background-color);
}

.separator {
    font-family: 'Frank Ruhl Libre', sans-serif;
    color: var(--second_text-color);
    text-align: center;
    font-size: 14px;
}

.discover__title {
    font-size: 44px;
    text-align: center;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
}

.spikelet-separator {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.discover__text {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 20px;
    color: var(--text-color);
}