@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Frank+Ruhl+Libre&display=swap');

.footer {
    background-color: #2c221d;
}

.topline {
    color: #2c221d;

}

.footer_contacts {
    color: #ffffff
}

.rightside {
    background-color: #342924;
}

.footer__menu {
    background-color: #261d17;
}

.footer__underline {
    font-family: 'Frank Ruhl Libre', serif;
    color: rgb(210, 201, 186);
}
