
.ourparters__title{
    display: flex;
    text-align: left;
    color: #261d17;
    font-size: 24px;
    font-family: "Frank Ruhl Libre";
}
.ourpartners__top__text{
    color: #614E44;
    font-family:"Rubik",sans-serif;
    font-size: 16px;
}
.ourpartners__bottom__text{
    color: #aa7c5a;
    font-size: 16px;
    font-family:"Rubik",sans-serif;
}
.ourpartners {
    background-image:
        url(img/background_light.png);
}

.ourparters__x {
    color: rgb(150, 90, 28);
    font-size: 14px;
    text-align: left;
    font-family: "Frank Ruhl Libre",sans-serif;
}
.ourpartners__logo {
    display: flex;
    margin: 0 -20px;

}

.ourpartners__logo__container {
    padding: 0 20px;
}

.ourpartners__logo__container__img {
    width: 220px;
    height: 220px;

}

.logo__container__img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__container__name {
    font-size: 17px;
    font-family: "Rubik", sans-serif;
    color: #614e44;
    display: flex;
    align-items: center;
    justify-content: center;
}