.main__ourpartners {
    padding: 50px 24px;
    background-color: var(--background-color-light);
    min-height: 400px;
}

.ourparters__header {
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
}

.ourparters__x {
    color: var(--color-xxx);
    font-size: 14px;
    text-align: left;
    font-family: "Frank Ruhl Libre", serif;
    display: block;
    line-height: 20px;
    letter-spacing: 1.4px;
    width: 375px;
}

.ourparters__title {
    margin-top: 20px;
    text-align: left;
    color: var(--colot-title);
    font-size: 34px;
    font-family: "Frank Ruhl Libre", serif;
}

.wheat {
    margin-top: 20px;
    margin-left: -10px;
    justify-content: left;
}

.top__text {
    margin-top: 20px;
    color: var(--color-subtitle);
    font-family: "Rubik", sans-serif;
    font-size: 20px;
}

.bottom__text {
    margin-top: 20px;
    color: var(--color-subtitle-light);
    font-size: 17px;
    font-family: "Rubik", sans-serif;
}

/* всі частини з фото і підписом */

/* блок фото і підписом */
.ourpartners__logo__container {
    padding: 0 20px;
    width: 100%;
    height: 100%;
}

/* блок фото */
.ourpartners__logo__container__img {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

/* фото */
.logo__container__img {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/* підпис */
.logo__container__name {
    font-size: 17px;
    font-family: "Rubik", sans-serif;
    color: var(--color-subtitle);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__bottom__line {
    background: linear-gradient(var(--background-color-light) 50%, var(--background-color) 50%);
    max-height: 50px;
    width: 100%;
    height: 100%;
    margin: 0 0 50px 0;
}

.bottom__line {
    background-color: var(--background-color-light);
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    object-fit: contain;
}

@media (min-width: 1000px) {
    .main__ourpartners {
        padding: 15px 40px 0 40px;
    }

    .ourpartners {
        display: flex;
    }

    .ourparters__header {
        max-width: 375px;
    }

    .ourpartners__logo {
        display: flex;
        align-items: center;
        flex: 1;
    }
}

@media (min-width: 1500px) {
    .main__ourpartners {
        padding: 15px 150px 0 150px;
    }

    .ourpartners__logo__container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
    }

    .ourpartners__logo__container__img {
        max-height: 230px;
        max-width: 250px;
        width: 100%;
        height: 100%;
    }

    .logo__container__img {
        width: 100%;
        height: 100%;
    }
}