.testimonials {
background-color: bisque;
justify-content: center;
}

.separator {
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    color: brown;
}

/* .testimonials__title {

}

.customers_quotes {} 


.testimonials__customers customer_name {
    ???
}
*/

.round-picture {
    border-radius: 50%;
}
 