.main__videotour {
    background: url("../img/background_light.png") 40%;
    background-size: cover;
    min-height: 900px;
}

.videotour__header {
    box-sizing: border-box;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    padding: 30px 24px 30px 24px;
    text-align: center;
}

.videotour__x {
    color: var(--color-xxx);
    font-size: 14px;
    text-align: left;
    font-family: "Frank Ruhl Libre", serif;
}

.videotour__title {
    color: var(--colot-title);
    margin-top: 20px;
    font-size: 34px;
    font-family: "Frank Ruhl Libre", sans-serif;
}

.videotour__wheat {
    margin-top: 20px;
}

.videotour__subtitle {
    margin-top: 5px;
    font-size: 20px;
    font-family: "Rubik", serif;
    line-height: 32px;
    color: var(--color-subtitle);
}

.videotour__body {
    padding: 30px 24px 30px 24px;
    /*  max-width: 1170;
    max-height: 664px; */
}

.videotour__body__img {
    /* max-width:100%;
    height: 664px; */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1000px) {
    .main__videotour {
        padding: 70px 150px 15px 150px;
    }
}